html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.login-page {
    background: #d2d6de;
}
.login-box {
    width: 360px;
    margin: 7% auto;
    box-shadow: 0 0 10px 1px #000;
}
.login-box-body {
    background: #fff;
    padding: 20px;
    color: #666;
}
.login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 300;
}
.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px;
}

.container {
	width: 100%;
}
.header {
	padding-top: 20px;
	height: 120px;
}
.header .system-datetime .system-time {
	text-transform: uppercase;
}
.header .user-avatar,
.header .user-title,
.header .system-datetime,
.header .system-buttons {
	display: inline-block;
}
.header .user-avatar {
	margin-right: 20px;
}
.header .system-datetime {
	margin-left: 25px;
}
textarea {
	resize: none;
}
form div.required label.control-label:after {
  content: " * ";
  color: red;
}
.site-index .site-index-content {
	margin-top: 25px;
}
.site-index .site-index-content table.table {
	border: 1px solid #ddd;
}
.site-index .site-index-content table tr .tr-top,
.site-index .site-index-content table tr .tr-bottom,
.brigade-index .brigade-index-content table tr .tr-top,
.brigade-index .brigade-index-content table tr .tr-bottom {
	height: 140px;
}
.site-index .site-index-content table tr .tr-top,
.brigade-index .brigade-index-content table tr .tr-top {
	vertical-align: top;
}
.site-index .site-index-content table tr .tr-bottom,
.brigade-index .brigade-index-content table tr .tr-bottom {
	vertical-align: bottom;
}
.site-index .site-index-content table tr .tr-bottom td,
.brigade-index .brigade-index-content table tr .tr-bottom td {
	padding-bottom: 25px;
}
table.table-fixed,
table.table-fixed>thead,
table.table-fixed>tbody,
table.table-fixed>thead>tr,
table.table-fixed>tbody>tr,
table.table-fixed>thead>tr>th,
table.table-fixed>tbody>td {
  display: block;
}
table.table-fixed>thead>tr:after,
table.table-fixed>tbody>tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
table.table-fixed>tbody {
  overflow-y: scroll;
  height: 573px;
}
table.table-fixed>thead>tr>th,
table.table-fixed>tbody>tr>td {
  float: left;
}